fastapi
httpx
uvicorn[standard]
langchain
langchain_text_splitters
langchain-core
langchain-groq
langchain-mistralai
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb
pydantic-settings
python-multipart
python-dotenv